{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path('program') }}/{{ program.url }}">{{ program.title }}</a> - Catégorie</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
